{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block body %}
    {% for book in books %}
        <div class="card">
            <img class="card_img" src="https://www.signfix.com.au/wp-content/uploads/2017/09/placeholder-600x400.png" alt="placeholder">
            <a href="#"><button type="button" data-id="{{ book.id }}">{% trans %}Take{% endtrans %}</button></a>
            <div class="card_text">
                <h2>{{ book.name }}</h2>
                <div>{{ book.disponibility }}</div>
                <div>{% trans %}I'ts a beautiful description.{% endtrans %}</div>
            </div>
        </div>
    {% endfor %}

{% endblock %}