{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}
{% block body %}

<div class="card">
    <img class="card_img" src="https://www.signfix.com.au/wp-content/uploads/2017/09/placeholder-600x400.png" alt="placeholder">
    <button type="button">Take</button>
    <div class="card_text">
        <h2>Titre livre</h2>
        <div>Disponible</div>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam amet dicta distinctio dolorum eius enim expedita iste laboriosam,
            mollitia nobis nostrum numquam quaerat quod repellendus saepe similique, tempora, totam voluptatibus.
        </div>
    </div>
</div>

{% endblock %}