* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
}

header {
    padding: 0 25px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    background-color: lightblue;
    width: 100%;
    display: flex;
    align-items: center;
}

.card {
    margin: 25px;
    width: 300px;
    min-height: 400px;
}

.card:nth-child(even){
    background-color: lightsalmon;
}

.card:nth-child(odd) {
    background-color: lightblue;
}

.card_img {
    width: 100%;
}

.card button {
    width: 100%;
    padding: 10px;
}